<div id="<%= dom_id article %>">
  <p>
    <strong>Code 1:</strong>
    <%= article.code_1 %>
  </p>

  <p>
    <strong>Code 2:</strong>
    <%= article.code_2 %>
  </p>

  <p>
    <strong>Code 3:</strong>
    <%= article.code_3 %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= article.model %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= article.brand %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= article.price %>
  </p>

</div>
