<div class="row mt-5 d-none">
  <div class="col-6">
    <h3>Match Status</h3>

    <div class="card">
      <div class="card-body">
        <table class="table table-borderless">
          <tr>
            <th colspan=2>Stats for <span class="color-gd">all</span> articles</th>
          </tr>
          <tr>
            <th>Total Articles</th>
            <td class="text-end"><%= Mara.count %></td>
          </tr>
          <tr>
            <th>Total Matched Articles</th>
            <td class="text-end"><%= MatchedArticle.all.count %></td>
          </tr>
          <tr>
            <td colspan=2>
              <div class="progress">
                <div class="progress-bar progress-bar-striped  progress-bar-animated" role="progressbar" style="width: <%= (Match.count.to_f / Mara.count) * 100 %>%"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th colspan=2>Stats for <span class="color-gd">active</span> articles</th>
          </tr>
          <tr>
            <th>Total Active Articles</th>
            <td class="text-end"><%= Mara.active.count %></td>
          </tr>
          <tr>
            <th>Matched Active Articles</th>
            <td class="text-end"><%= Mara.active.matched.count %></td>
          </tr>
          <tr>
            <th>Unmatched Active Articles</th>
            <td class="text-end"><%= Mara.unmatched.active.count %></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="progress">
                <div class="progress-bar progress-bar-striped  progress-bar-animated bg-success" role="progressbar" style="width: <%= (Mara.active.matched.count.to_f / Mara.active.count) * 100 %>%"></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class="col-6">
    <h3>Consolidation Status</h3>
    <div class="card card-sidebar-secondary">
      <div class="card-body">
        <table class="table table-borderless">
          <tr>
            <th>Total Match Sets</th>
            <td><%= Match.all.count %></td>
          </tr>
          <tr>
            <th>Awaiting Consolidation</th>
            <td><%= Match.incomplete.count %></td>
          </tr>
          <tr>
            <th>Consolidated</th>
            <td><%= Match.complete.count %></td>
          </tr>
          <tr>
            <th>Problem Matches</th>
            <td><%= Match.in_error.count %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="row mt-5 d-none">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <table class="table table-borderless">
          <tr>
            <th>Matches yesterday</th>
            <td class="text-end"><%= Match.where('DATE(created_at) = ?', Date.today - 1.day).count %></td>
          </tr>
          <tr>
            <th>Matches today</th>
            <td class="text-end"><%= Match.where('DATE(created_at) = ?', Date.today).count %></td>
          </tr>
          <tr>
            <th>Match Velocity</th>
            <td class="text-end">0</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card card-sidebar-secondary">
      <div class="card-body">
        <table class="table table-borderless">
          <tr>
            <th>Consolidated today</th>
            <td></td>
          </tr>
          <tr>
            <th>Consolidated yesterday</th>
            <td></td>
          </tr>
          <tr>
            <th>Velocity</th>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
