<section class="header container mt-4">
  <div class="d-none">
    <%= form_tag dash_search_path do %>
      <%= text_field_tag :q %>
      <%= submit_tag 'Search' %>
    <% end %>

    <hr>

    <% if @search.present? %>
      <h2>Search results: <%= @search.size %></h2>
      <% @search.each do |r| %>
        <p><%= r.inspect %></p>
      <% end %>
    <% end %>

  </div>
</section>

<section class="content" id="welcome">
  <div class="container">
    <div class="row mt-4">
      <div class="col-4">
        <a href="/matcher" class="btn btn-lg btn-outline-dark w-100 p-2 bg-white shadow poh d-flex align-items-center justify-content-center gap-3">
          <i class="bi bi-diagram-3" style="font-size: 2rem;"></i>
          Matcher
        </a>
      </div>
      <div class="col-4">
        <a href="<%= consolidation_path %>" class="btn btn-lg btn-outline-dark w-100 p-2 bg-white shadow poh d-flex align-items-center justify-content-center gap-3">
          <i class="bi bi-link-45deg" style="font-size: 2rem;"></i>
          Consolidation
        </a>
      </div>
      <div class="col-4">
        <a href="/reports" class="btn btn-lg btn-outline-dark w-100 p-2 bg-white shadow poh d-flex align-items-center justify-content-center gap-3">
          <i class="bi bi-graph-up" style="font-size: 2rem;"></i>
          Reports
        </a>
      </div>
    </div>

    <div id="banner-stats" class="row mt-5">
      <div class="col-12 col-lg-6">
        <h3>Total Articles Extracted</h3>
        <div class="card card-sidebar-alt">
          <div class="card-body">
            <table class="table table-borderless">
              <thead>
              <tr>
                <th></th>
                <th class="text-end">Articles</th>
                <th class="text-end">Variants</th>
              </tr>
              </thead>
              <tbody>
              <% sn = SourceName.all.map{|s| [s&.name, s&.c_name]} %>
              <% sn.each do |name| %>
                <tr>
                  <th><%= name[0] %></th>
                  <td class="text-end"><%= total_for_banner(name[1]) %></td>
                  <td class="text-end"><%= variations_for_banner(name[1]) %></td>
                </tr>
              <% end %>
              <tr>
                <th>Total</th>
                <td class="text-end"><%= total_for_all %></td>
                <td class="text-end"><%= variations_for_all %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-lg-6">
        <h3>Articles to be matched and consolidated</h3>
        <div class="card">
          <div class="card-body">
            <table class="table table-borderless">
              <thead>
              <tr>
                <th></th>
                <th class="text-end">Articles</th>
                <th class="text-end">Variants</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>Total to match</th>
                <td class="text-end"><%= number_with_delimiter Mara.active.count %></td>
                <td class="text-end"><%= number_with_delimiter Mara.active.sum(:number_variants) %></td>
              </tr>
              <tr>
                <th>Total matched</th>
                <td class="text-end"><%= number_with_delimiter Mara.active.matched.count %></td>
                <td class="text-end"><%= number_with_delimiter Mara.active.matched.sum(:number_variants) %></td>
              </tr>
              <tr>
                <th>Total unmatched</th>
                <td class="text-end"><%= number_with_delimiter Mara.active.unmatched.count %></td>
                <td class="text-end"><%= number_with_delimiter Mara.active.unmatched.sum(:number_variants) %></td>
              </tr>
              </tbody>
            </table>
            <h5>Match Sets</h5>
            <table class="table table-borderless">
              <tbody>
              <tr>
                <th>One article matches</th>
                <td class="text-end"><%= Match.single.count %></td>
              </tr>
              <tr>
                <th>Two article matches</th>
                <td class="text-end"><%= Match.double.count %></td>
              </tr>
              <tr>
                <th>Three article matches</th>
                <td class="text-end"><%= Match.triple.count %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <h3>Consolidation Status</h3>
        <div class="card card-sidebar-secondary">
          <div class="card-body">

            <table class="table table-borderless">
              <thead>
              <tr>
                <th></th>
                <th class="text-end">Match Sets</th>
                <th class="text-end">Articles</th>
                <th class="text-end">Variants</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <th>Awaiting Consolidation</th>
                <td class="text-end"><%= Match.awaiting.count %></td>
                <td class="text-end"><%= Match.awaiting.sum(:matched_articles_count) %></td>
                <td class="text-end"><%= Mara.joins(match_fields: :match).merge(Match.awaiting).sum(:number_variants) %></td>
              </tr>
              <tr>
                <th>Consolidation in progress</th>
                <td class="text-end"><%= Match.in_progress.count %></td>
                <td class="text-end"><%= Match.in_progress.sum(:matched_articles_count) %></td>
                <td class="text-end"><%= Mara.joins(match_fields: :match).merge(Match.in_progress.or(Match.awaiting)).sum(:number_variants) %></td>
              </tr>
              <tr>
                <th>Consolidation completed</th>
                <td class="text-end"><%= Match.complete.count %></td>
                <td class="text-end"><%= Match.complete.sum(:matched_articles_count) %></td>
                <td class="text-end"><%= Mara.joins(match_fields: :match).merge(Match.complete).sum(:number_variants) %></td>
              </tr>
              <tr>
                <th>Consolidation problems</th>
                <td class="text-end"><%= Match.in_error.count %></td>
                <td class="text-end"><%= Match.in_error.sum(:matched_articles_count) %></td>
                <td class="text-end"><%= Mara.joins(match_fields: :match).merge(Match.in_error).sum(:number_variants) %></td>
              </tr>
              <tr>
                <th>Total Match Sets</th>
                <td class="text-end"><%= Match.all.count %></td>
                <td class="text-end"><%= Match.all.sum(:matched_articles_count) %></td>
                <td class="text-end"><%= Mara.joins(match_fields: :match).merge(Match.all).sum(:number_variants) %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-5">
      <% batches = Mara.where.not(batch: nil).distinct(:batch).pluck(:batch).sort %>

      <ul class="nav nav-tabs" id="grouped-stats-nav-tabs" role="tablist">
        <% batches.each_with_index do |batch, i| %>
          <% next if batch.blank? %>
          <li>

            <%= link_to "Batch #{batch}", "#batch-#{batch}", class: "nav-link #{ 'active' if i == 0}", data: { bs_toggle: :tab,
                                                                                                               bs_target: "#batch-#{batch}" }, role: 'button' %>
          </li>
        <% end %>
      </ul>

      <div id="batch-nav-tab-content" class="tab-content border-1 border-start border-end border-bottom bg-white">
        <% batches.each_with_index do |batch, i| %>
          <% next if batch.blank? %>

          <div id="batch-<%= batch %>" class="tab-pane fade <%= 'show active' if i == 0 %> p-3" role="tabpanel">
            <h5>Finish date: <%= batch_completion_date(batch) %></h5>

            <%= render partial: 'grouped_stats', locals: { groups: Mara.group(:group)
                                                                       .where.not(group: nil)
                                                                       .where(batch: batch)
                                                                       .pluck(:group),
                                                           batch: batch } %>

          </div>
        <% end %>
      </div>

    </div>
  </div>

</section>

