<section class="header container mt-4">
  <h2>Dashboard / Batch 2022-01-01-1</h2>

  <div class="d-none">
    <%= form_tag dash_search_path do %>
      <%= text_field_tag :q %>
      <%= submit_tag 'Search' %>
    <% end %>

    <hr>

    <% if @search.present? %>
      <h2>Search results: <%= @search.size %></h2>
      <% @search.each do |r| %>
        <p><%= r.inspect %></p>
      <% end %>
    <% end %>

  </div>
</section>

<section class="content">
  <div class="container">
    <div class="row mt-5">
      <div class="col-4">
        <a href="/matcher" class="btn btn-lg btn-outline-dark w-100 p-4 bg-white shadow poh">
          <i class="bi bi-diagram-3" style="font-size: 3rem;"></i>
          <br>
          Matcher
        </a>
      </div>
      <div class="col-4">
        <a href="/validation" class="btn btn-lg btn-outline-dark w-100 p-4 bg-white shadow poh">
          <i class="bi bi-link-45deg" style="font-size: 3rem;"></i>
          <br>
          Consolidation
        </a>
      </div>
      <div class="col-4">
        <a href="/reports" class="btn btn-lg btn-outline-dark w-100 p-4 bg-white shadow poh">
          <i class="bi bi-graph-up" style="font-size: 3rem;"></i>
          <br>
          Reports
        </a>
      </div>
    </div>

    <div class="row mt-5">
      <h2>Match Status</h2>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-borderless">
              <tr>
                <th>Total Articles</th>
                <td class="text-end"><%= Mara.count %></td>
              </tr>
              <tr>
                <th>Total Matchable Articles</th>
                <td class="text-end"><%= Mara.active.count %></td>
              </tr>
              <tr>
                <th>Unmatched Articles</th>
                <td class="text-end"><%= Mara.unmatched.active.count %></td>
              </tr>
              <tr>
                <th>Matched Articles</th>
                <td class="text-end"><%= Mara.active.matched.count %></td>
              </tr>
              <tr>
                <th>Total Matches</th>
                <td class="text-end"><%= Match.count %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-borderless">
              <tr>
                <th>Matches yesterday</th>
                <td class="text-end"><%= Match.where('DATE(created_at) = ?', Date.today - 1.day).count %></td>
              </tr>
              <tr>
                <th>Matches today</th>
                <td class="text-end"><%= Match.where('DATE(created_at) = ?', Date.today).count %></td>
              </tr>
              <tr>
                <th>Match Velocity</th>
                <td class="text-end">0</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <h2>Consolidation Status</h2>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-borderless">
              <tr>
                <th>Total Match Sets</th>
                <td><%= Match.all.count %></td>
              </tr>
              <tr>
                <th>Awaiting Consolidation</th>
                <td></td>
              </tr>
              <tr>
                <th>Consolidated</th>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-borderless">
              <tr>
                <th>Consolidated Today</th>
                <td></td>
              </tr>
              <tr>
                <th>Consolidated Yesterday</th>
                <td></td>
              </tr>
              <tr>
                <th>In Progress</th>
                <td></td>
              </tr>
              <tr>
                <th>Velocity</th>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

