<% Lookup.sections.each_with_index do |sec, i| %>
  <!--  Pane for a specific tab, contains table for a section (Basic, Logistics etc) -->
  <div class="bg-white border-start border-end border-bottom border-1 p-3 mb-3 tab-pane fade show <%= 'show active' if i == 0 %>" id="<%= sec.downcase %>" role="tabpanel">

    <!--    fields_for_section is an array of ids to the lookup table for all the fields in this section-->
    <% fields_for_section = Lookup.fields_for_section(sec) %>
    <table class="table table-sm table-bordered table-hover table-consolidate">
      <thead>
      <tr>
        <th></th>

        <% @match.maras.each do |mara| %>
          <% next if skip_article?(@match, mara) %>
          <% main_mara = @match.matched_articles.find_by(prefixed_matnr: mara.id).main? %>

          <th class="w-280">
            <div class="d-flex align-items-center justify-content-between">
                      <span title="<%= mara.prefixed_matnr %>" class="<%= main_mara ? 'main_article' : '' %>">
                        <%= mara.description %>
                      </span>
              <div class="dropdown float-end">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                        type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li>
                    <% if main_mara %>
                      <%= link_to 'Unmark Main',
                                  main_article_path(mara_id: mara.id, match_id: @match.id, unmark: true),
                                  class: 'dropdown-item',
                                  type: 'button' %>
                    <% else %>
                      <%= link_to 'Mark as Main',
                                  main_article_path(mara_id: mara.id, match_id: @match.id),
                                  class: 'dropdown-item',
                                  type: 'button' %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'Remove from match',
                                remove_article_path(mara_id: mara.id, match_id: @match.id),
                                class: 'dropdown-item',
                                type: 'button' %>
                  </li>
                </ul>
              </div>
            </div>
          </th>
        <% end %>

        <th class="text-center">
          <%#== button_tag(content_tag(:i, '', class: 'bi bi-plus-square'), class: 'btn btn-sm btn-success', type: "button", 'data-bs-toggle': "modal", 'data-bs-target': "#addArticle") %>
          <a href="#" class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#addArticle">
            <i class="bi bi-plus-circle-fill"></i>
          </a>
        </th>

        <th class="text-center tight">Consolidated</th>
      </tr>
      </thead>

      <tbody>
      <% fields_for_section.each do |lookup_id| %>
        <% mf = @match.match_fields.find_by(lookup_id: lookup_id) %>
        <% selectable = @lookups[lookup_id].updatable? && !params[:review] %>
        <% overridable = @lookups[lookup_id].override? %>

        <tr data-controller="consolidator validation"
            class="<%= 'selectable' if selectable %>">
          <th class="tight bg-light text-nowrap" data-lookup-id="<%= lookup_id %>">
              <span class="<%= selectable ? 'fw-bold' : 'text-muted' %>">
                <%= t(@lookups[lookup_id].attribute_short_name) %>
              </span>
          </th>
          <% vals = []; %>
          <% val_id = nil %>

          <% @match.maras.each do |mara| %>
            <% next if skip_article?(@match, mara) %>
            <% value = mara.get_specific_field(lookup_id) %>
            <% vals << value.to_s&.strip if (value.to_s.present? && !value.to_s.include?("*map")) %>
            <% val_id = mara.id %>
            <% highlight = selectable && mf&.mara_id.nil? %>

            <td class="<%= mara.banner.downcase %> mara-data w-280
                         <%= 'text-more-muted' unless selectable %>
                         <%= 'mara-selected' if mara.id == mf&.mara_id %>
                         <%= 'mara-highlight' if highlight %>"
                data-action="click->consolidator#select click->validation#checkComplete"
                data-consolidator-highlight-class="mara-selected"
                data-consolidator-selectable-param="<%= selectable %>"
                data-consolidator-mara-param="<%= mara.id %>"
                data-consolidator-value-param="<%= value %>">

              <span style="cursor: pointer;"><%= value %></span>
            </td>
          <% end %>
          <td class="text-center tight"></td>


          <!-- Final column containing the consolidated value-->
          <td class="w-280">
            <% if selectable %>
              <%= text_field_tag "match_fields[#{lookup_id}][mara_id]", nil,
                                 class: "match-mara-value",
                                 type: 'hidden',
                                 value: get_consolidated_id(mf, vals, val_id),
                                 data: { 'consolidator-target': 'selectedMara' }
              %>
              <input type="text"
                     data-consolidator-target="selectedValue"
                     class="p-0 <%= mf&.overridden? ? 'd-none' : '' %> <%= 'form-control-plaintext' unless overridable %>"
                     value="<%= get_consolidated_value(mf, vals) %>"
                     disabled="<%= !overridable %>">

              <% if overridable %>
                <%= text_field_tag "match_fields[#{lookup_id}][overridden_value]",
                                   mf&.overridden? ? mf.overridden_value : nil,
                                   data: { 'consolidator-target': 'overrideInput' },
                                   class: !mf&.overridden? ? 'd-none' : '',
                                   disabled: !mf&.overridden? %>

                <%= check_box_tag :override,
                                  1,
                                  mf&.overridden? ? true : false,
                                  class: 'override form-check-input',
                                  title: 'Override',
                                  data: { action: 'change->consolidator#override' } %>
              <% end %>
            <% else %>
              <%= get_consolidated_value(mf, vals) %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
