<section class="header container-fluid mt-4">
  <div class="d-flex">
    <%= link_to consolidation_path, class: 'h2 me-2' do %>
      <i class="bi bi-arrow-left-circle hover-gd"></i>
    <% end %>
    <h2>Validations / <%= @match.name %></h2>
  </div>
</section>


<%= form_with url: update_match_fields_path, method: :post do |form| %>
  <%= form.hidden_field :id, value: @match.id %>
  <section class="container-fluid consolidator">
    <%= render partial: 'nav_tabs', locals: { match: @match } %>

    <div class="tab-content">
      <%= render 'auto_tabs' %>

      <%= render partial: 'uom', locals: { match: @match } %>
      <%= render partial: 'tax', locals: { match: @match } %>
      <%= render partial: 'classification', locals: { match: @match } %>
      <%= render partial: 'characteristics', locals: { match: @match } %>
      <%= render partial: 'variants', locals: { match: @match } %>

      <%= render partial: 'comments', locals: { match: @match } %>
    </div>
  </section>

  <section class="content container-fluid">
    <div class="d-flex justify-content-end">

      <a href="#" class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#problem">
        Report problems
      </a>

      <%= link_to 'Reject', match_path(@match),
                  data: { turbo_confirm: 'This will delete the match and free all any articles to be re-matched',
                          turbo_method: :delete },
                  class: 'btn btn-danger ms-2'
      %>
      <button type="submit" name="status" value="" class="btn btn-success ms-2">
        Save
      </button>
      <button type="submit" name="status" value="complete" class="btn btn-success ms-2">
        Complete
      </button>
    </div>
  </section>
<% end %>

<%= render 'add_article_modal' %>

<%= render 'report_problems_modal' %>