<section class="header container-fluid mt-4">
  <div class="d-flex">
    <%= link_to validation_path, class: 'h2 me-2' do %>
      <i class="bi bi-arrow-left-circle hover-gd"></i>
    <% end %>
    <h2>Validations / <%= @match.name %></h2>
  </div>
</section>

<%= form_with url: update_match_fields_path, method: :post do |form| %>
  <%= form.hidden_field :id, value: @match.id %>
  <section class="container-fluid consolidator">
    <ul class="nav nav-tabs" id="tab-consolidation">
      <% Lookup.sections.each_with_index do |sec, i| %>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if i == 0 %>" href="#<%= sec.downcase %>"><%= sec %></a>
        </li>
      <% end %>
      <li class="nav-item">
        <a href="#uom" class="nav-link">UOM</a>
      </li>
      <li class="nav-item">
        <a href="#variants" class="nav-link">Variants</a>
      </li>
    </ul>

    <div class="tab-content">
      <% Lookup.sections.each_with_index do |sec, i| %>

        <!--  Pane for a specific tab, contains table for a section (Basic, Logistics etc) -->
        <div class="bg-white border-start border-end border-bottom border-1 p-3 mb-3 tab-pane fade show <%= 'show active' if i == 0 %>" id="<%= sec.downcase %>" role="tabpanel">

          <!--    fields_for_section is an array of ids to the lookup table for all the fields in this section-->
          <% fields_for_section = Lookup.fields_for_section(sec) %>
          <table class="table table-sm table-bordered table-hover table-consolidate">
            <thead>
            <tr>
              <th></th>
              <% @match.maras.each do |mara| %>
                <% main_mara = @match.matched_articles.find_by(prefixed_matnr: mara.id).main? %>
                <th class="">
                  <span title="<%= mara.description %>" class="<%= main_mara ? 'main_article' : '' %>">
                    <%= truncate mara.description, length: 20 %>
                  </span>
                  <div class="dropdown float-end">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                            type="button" id="dropdownMenu2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li>
                        <% if main_mara %>
                          <%= link_to 'Unmark Main',
                                      main_article_path(mara_id: mara.id, match_id: @match.id, unmark: true),
                                      class: 'dropdown-item',
                                      type: 'button' %>
                        <% else %>
                          <%= link_to 'Mark as Main',
                                      main_article_path(mara_id: mara.id, match_id: @match.id),
                                      class: 'dropdown-item',
                                      type: 'button' %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to 'Remove from match',
                                    remove_article_path(mara_id: mara.id, match_id: @match.id),
                                    class: 'dropdown-item',
                                    type: 'button' %>
                      </li>
                    </ul>
                  </div>
                </th>
              <% end %>
              <th class="text-center">
                <%= button_tag '+', class: 'btn btn-sm btn-success', type: "button", 'data-bs-toggle': "modal", 'data-bs-target': "#addArticle" %>
              </th>
              <th class="text-center tight">Consolidated</th>
            </tr>
            </thead>
            <tbody>

            <% fields_for_section.each do |lookup_id| %>
              <% mf = @match.match_fields.find_by(lookup_id: lookup_id) %>
              <% lookup = Lookup.find(lookup_id) %>
              <% selectable = lookup.updatable? %>
              <% field_name = lookup.attribute_name %>
              <% overridable = lookup.override? %>

              <tr data-controller="consolidator">
                <th class="tight bg-light">
                  <%#= content_tag :span, truncate(field_name.humanize, length: 40), title: field_name.humanize %>
                  <%= content_tag :span, t(field_name) %>
                </th>
                <% vals = []; %>
                <% val_id = nil %>

                <% @match.maras.each do |mara| %>
                  <% value = mara.get_specific_field(lookup_id) %>
                  <% vals << value %>
                  <% val_id = mara.id %>

                  <td class="<%= mara.banner.downcase %> mara-data tight <%= 'text-more-muted' unless selectable %> <%= 'mara-selected' if mara.id == mf&.mara_id %>"
                      data-action="click->consolidator#select"
                      data-consolidator-highlight-class="mara-selected"
                      data-consolidator-selectable-param="<%= selectable %>"
                      data-consolidator-mara-param="<%= mara.id %>"
                      data-consolidator-value-param="<%= value %>">
                    <span style="cursor: pointer;"><%= value %></span>
                  </td>
                <% end %>
                <td class="text-center tight"></td>
                <td class="">
                  <% if selectable %>
                    <%= text_field_tag "match_fields[#{lookup_id}][mara_id]", nil,
                                       type: 'hidden',
                                       value: if mf&.present?
                                                mf.mara_id
                                              else
                                                vals.uniq.length == 1 ? val_id : nil
                                              end,
                                       data: { 'consolidator-target': 'selectedMara' },
                                       disabled: true
                    %>

                    <input type="text"
                           data-consolidator-target="selectedValue"
                           class="<%= mf&.overridden? ? 'd-none' : '' %>"
                           value="<%= mf.present? ? mf.get_value : vals.uniq.length == 1 ? vals[0] : '' %>"
                           disabled="<%= !overridable %>">

                    <% if overridable %>
                      <%= text_field_tag "match_fields[#{lookup_id}][overridden_value]",
                                         mf&.overridden? ? mf.overridden_value : nil,
                                         data: { 'consolidator-target': 'overrideInput' },
                                         class: !mf&.overridden? ? 'd-none' : '',
                                         disabled: !mf&.overridden? %>
                      <%= check_box_tag :override,
                                        1,
                                        mf&.overridden? ? true : false,
                                        class: 'override',
                                        title: 'Override',
                                        data: { action: 'change->consolidator#override' } %>
                    <% end %>
                  <% end %>

                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

      <%= render partial: 'uom', locals: {match: @match} %>
      <%= render partial: 'variants', locals: {match: @match} %>
    </div>
  </section>

  <section class="content container-fluid">
    <div class="d-flex justify-content-end">
      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Needs Correction
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">UOM Mismatch</a></li>
          <li><a class="dropdown-item" href="#">Type Mismatch</a></li>
          <li><a class="dropdown-item" href="#">Other</a></li>
        </ul>
      </div>

      <a href="#" class="btn btn-warning ms-2">
        Reject
      </a>
      <button type="submit" href="#" class="btn btn-success ms-2">
        Consolidate
      </button>
    </div>
  </section>
<% end %>

<div class="modal fade" id="addArticle" tabindex="-1" role="dialog" aria-labelledby="addArticleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addArticleModalLabel">Article Search</h5>
        <button type="button" class="close btn btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>

      <div class="modal-body">
        <%= form_tag search_path(consolidator: true, match_id: @match.id), method: :post, class: 'row gy-2 gx-3 bd-highlight', remote: true do %>
          <div class="col-auto">
            <%= select_tag :f_banner, options_for_select(%w[GAME BUILDERS MAKRO], params[:f_banner]), include_blank: true, placeholder: 'Banner', class: 'form-select' %>
          </div>
          <div class="col-auto">
            <%= select_tag :f_article_type, options_for_select(Mara.article_types), placeholder: 'Article Type', include_blank: true, class: 'form-select' %>
          </div>
          <div class="col-auto">
            <%= search_field_tag :match_q, params[:match_q], class: 'form-control-inline', placeholder: 'Search' %>
          </div>
          <div class="col-auto">
            <%= submit_tag 'Go' %>
          </div>
        <% end %>

        <div id="results"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
