<section class="header container-fluid mt-4">
  <h2>Validations / <%= @match.name %></h2>
</section>

<section class="container-fluid">
  <ul class="nav nav-tabs" id="tab-consolidation">
    <% Lookup.sections.each_with_index do |sec, i| %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if i == 0 %>" href="#<%= sec.downcase %>"><%= sec %></a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% Lookup.sections.each_with_index do |sec, i| %>
      <div class="tab-pane fade show <%= 'show active' if i == 0 %>" id="<%= sec.downcase %>" role="tabpanel">
        <% fields_for_section = Lookup.fields_for_section(sec) %>
        <table class="table table-sm table-bordered table-hover">
          <thead>
          <tr>
            <th></th>
            <% @match.maras.each do |mara| %>
              <th>
                <%= mara.description %>
                <div class="dropdown float-end">
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li>
                      <button class="dropdown-item" type="button">Mark as Main</button>
                    </li>
                    <li>
                      <button class="dropdown-item" type="button">Remove from match</button>
                    </li>
                    <li>
                      <button class="dropdown-item" type="button">Mark all</button>
                    </li>
                  </ul>
                </div>
              </th>
            <% end %>
            <th class="text-center">
              <%= button_tag '+', class: 'btn btn-sm btn-success', 'data-bs-toggle': "modal", 'data-bs-target': "#exampleModal" %>
            </th>
            <th class="text-center">Override</th>
          </tr>
          </thead>

          <tbody>
          <% fields_for_section.each do |tab_col| %>
            <tr data-table="<%= tab_col[0] %>" data-column="<%= tab_col[1] %>">
              <th class="bg-light">
                <%= Lookup.name_for(tab_col).humanize rescue 'Missing' %>
              </th>
              <% @match.maras.each do |mara| %>
                <td class="<%= mara.banner.downcase %> mara-data"><%= mara.get_specific_field(tab_col[0], tab_col[1]) %></td>
              <% end %>
              <td class="text-center"></td>
              <td class="text-center"><%= check_box_tag :override, 1, false, class: 'override' %>
                <%= text_field_tag 'mara[]override', nil, class: 'mara-input d-none' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</section>

<section class="content container-fluid">
  <div class="d-flex justify-content-end">
    <div class="dropdown">
      <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Needs Correction
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">UOM Mismatch</a></li>
        <li><a class="dropdown-item" href="#">Type Mismatch</a></li>
        <li><a class="dropdown-item" href="#">Other</a></li>
      </ul>
    </div>

    <a href="#" class="btn btn-warning ms-2">
      Reject
    </a>
    <a href="#" class="btn btn-success ms-2">
      Consolidate
    </a>
  </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Article Search</h5>
        <button type="button" class="close btn btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">

        <%= form_tag search_path, method: :post, class: 'row gy-2 gx-3 bd-highlight', remote: true do %>
          <div class="col-auto">
            <%= select_tag :f_banner, options_for_select(%w[GAME BUILDERS MAKRO], params[:f_banner]), include_blank: true, placeholder: 'Banner', class: 'form-select' %>
          </div>
          <div class="col-auto">
            <%= select_tag :f_article_type, options_for_select(Mara.article_types), placeholder: 'Article Type', include_blank: true, class: 'form-select' %>
          </div>
          <div class="col-auto">
            <%= search_field_tag :match_q, params[:match_q], class: 'form-control-inline', placeholder: 'Search' %>
          </div>
          <div class="col-auto">
            <%= submit_tag 'Go' %>
          </div>
        <% end %>

        <table id="results" class="table table-sm table-bordered table-hover mt-4">
          <thead>
          <tr>
            <th>Banner</th>
            <th>Description</th>
            <th>Article Type</th>
            <th>Barcodes</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
