<div class="refine d-flex justify-content-between my-4">
  <h4 class="d-inline">Match Results</h4>
  <div class="search">
    <%= form_tag matcher_path, method: :get do %>
      <div class="d-flex justify-content-between align-items-center">
      <span class="me-2 text-nowrap">Refine results</span>
        <%= select_tag :min_score, options_for_select([['Low+', 0], ['Med+', 300], ['High', 1000]], selected: cookies.fetch(:min_score, 0)), class: 'form-select-sm me-2' %>
      <%= search_field_tag :q, params[:q], class: 'form-control-inline me-2' %>
      <%= submit_tag 'Go', class: "btn btn-sm btn-primary" %>
    <% end %>
    </div>
  </div>
</div>

<%= form_tag create_match_path do %>
  <% if @matched.blank? %>
    <div class="text-center m-3">
      <span class="alert alert-secondary text-center">No results to display, select an item from the top panel to start a search.</span>
    </div>
  <% else %>
    <table class="table table-sm table-bordered table-hover matched_table">
      <thead>
      <tr>
        <th>Banner</th>
        <th class="text-nowrap">Description</th>
        <th class="text-nowrap">Article Type</th>
        <th class="text-nowrap">Barcodes</th>
        <th>Score</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @matched && @matched.with_highlights.each do |mara, highlight| %>

        <tr class="<%= mara.banner.downcase %> <%= mara.barcodes&.split(',')&.join(" ") %> <%= @scores[mara.prefixed_matnr] >= 1000 ? "selected_row" : "" %>">
          <td><span><%= mara.banner %></span></td>
          <td class="text-nowrap"><%== highlight[:description].blank? ? mara.description : highlight[:description] %></td>
          <td class="text-nowrap"><%= mara.article_type %></td>
          <td style="overflow: auto">
            <% if highlight[:barcodes] %>
<!--              <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%#= mara.barcodes %>"><%#= truncate highlight[:barcodes]&.html_safe, length: 50 %></span>-->
              <%= match_codes(mara.barcodes, highlight[:barcodes]) %>
            <% else %>
<!--              <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%#= mara.barcodes %>"><%#= truncate mara.barcodes, length: 50 %></span>-->
              <%= match_codes(mara.barcodes, '') %>
            <% end %>
          </td>
          <td><%= rank_score(@scores[mara.prefixed_matnr]) %></td>
          <td class="text-center"><%= check_box_tag 'p_matnr[]', mara.prefixed_matnr, @scores[mara.prefixed_matnr] >= 1000, class: 'match_select' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="text-end">
      <%= button_tag 'Create match and continue', value: :continue, class: 'btn btn-primary' %>
      <%= button_tag 'Create match and consolidate', value: :consolidate, class: 'btn btn-secondary' %>
    </div>
  <% end %>
<% end %>
