<section class="header container-fluid mt-4">
  <h2>Matcher</h2>
</section>

<section class="content container-fluid" data-controller="matcher">
  <div class="refine d-flex my-4 justify-content-between">
    <h4 class="d-inline">Unmatched Articles</h4>

    <%= form_tag matcher_path, method: :get, class: 'row gy-2 gx-3 align-items-center bd-highlight' do %>
      <div class="col-auto">
        <%= select_tag :f_banner, options_for_select(%w[GAME BUILDERS MAKRO], params[:f_banner]), include_blank: true, placeholder: 'Banner', class: 'form-select' %>
      </div>
      <div class="col-auto">
        <%= select_tag :f_article_type, options_for_select(Mara.article_types), placeholder: 'Article Type', include_blank: true, class: 'form-select' %>
      </div>
      <div class="col-auto">
        <%= search_field_tag :match_q, params[:match_q], class: 'form-control-inline', placeholder: 'Search' %>
      </div>
      <div class="col-auto">
        <%= submit_tag 'Go' %>
      </div>
    <% end %>
  </div>

  <%= render partial: 'results_table' %>

  <%= render 'matches' %>
</section>
