<section class="content container-fluid" data-controller="matcher">
  <div class="refine d-flex my-4 justify-content-between">
    <h4 class="d-inline">Unmatched Articles</h4>

    <%= form_tag matcher_path, method: :get, class: 'row gy-2 gx-3 align-items-center bd-highlight' do %>
      <div class="col-auto">
        <%= select_tag :f_banner,
                       options_for_select([["Banner", nil], ["GAME", "GAME"], ["BUILDERS", "BUILDERS"], ["MAKRO", "MAKRO"]], params[:f_banner]),
                       class: 'form-select-sm'
        %>
      </div>

      <div class="col-auto">
        <%= select_tag :f_article_type,
                       options_for_select([["Article Type", nil]] + Mara.article_types.zip(Mara.article_types), params[:f_article_type]),
                       class: 'form-select-sm'
        %>
      </div>

      <div class="col-auto">
        <%= select_tag :f_group,
                       options_for_select([["Group", nil]] + Mara.group_names.zip(Mara.group_names), params[:f_group]),
                       class: 'form-select-sm'
        %>
      </div>

      <div class="col-auto">
        <%= select_tag :f_batch,
                       batch_filter_options(params[:f_batch]),
                       class: 'form-select-sm'
        %>
      </div>

      <div class="col-auto">
        <%= search_field_tag :match_q, params[:match_q], class: 'form-control-inline', placeholder: 'Search' %>
      </div>

      <div class="col-auto">
        <%= submit_tag 'Go', class: 'btn btn-sm btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="card">
    <div class="card-body">
      <%= render partial: 'results_table' %>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <%= render 'matches' %>
    </div>
  </div>
</section>
