<div class="container">

  <h1>Matches</h1>

  <div class="row">
    <table class="table table-sm">
      <thead>
      <tr>
        <th>Match Number</th>
        <th>Prefixed material nr</th>
        <th>Status</th>
        <th>Last updated at</th>
        <th>Group</th>
        <th>Batch</th>
        <th>New Material nr</th>
      </tr>
      </thead>

      <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td><%= match[0] %></td>
          <td><%= match[1] %></td>
          <td><%= match[2] %></td>
          <td><%= match[3] %></td>
          <td><%= match[4] %></td>
          <td><%= match[5] %></td>
          <td><%= match[6] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
